/*
@font-face {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Formular.woff2') format('woff2');
}

@font-face {
  font-family: 'Formular-Medium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Formular-Medium.woff2') format('woff2');
}
*/